body {
    background-color: black;
    background-position: center;
    color: chartreuse;
    overflow: hidden;
}

table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid chartreuse;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}

td {
    background-color: rgb(33, 43, 33);
    border: 1px black solid;
    border-radius: 10px;
    height: auto;
    width: auto;
    font-weight: bold;
    font-size: large;
    
}

.categories{
    font-size: x-large;
    font-weight: bold;
}

.btnenabled {
    
    background-color: rgb(33, 43, 33);
    color: chartreuse;
    padding: 0;
    background: 0;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: x-large;
}

.layout {
    width: auto;
    height: auto;
  
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 1fr;
    gap: 0px;    
    justify-content: space-around;
    justify-items: center;

  
}

.titel {
  
    align-self: center;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}

.gamegrid {
   
    align-items: 0 auto;
    align-self: center;
    text-align: center;
  
    
}

.teams_wrapper {
 
    width: 850px;
    position:relative;
}

.teams_table {
    margin-left: 0;
    margin-right: auto;
}

.teams {
    text-align: center;
    background-color: rgb(33, 43, 33);
    border: green;
    border-radius: 10px;
    height: 20px;
    width: 120px;
}

.points {
    text-align: center;
    border: green;
    height: 20px;
    width: 20px;    
}

.btn {
    color: chartreuse;
    background-color: rgb(33, 43, 33);
    border-radius: 10px;
    height: 25px;
    width: auto;
}

.labelquestion {
    color: chartreuse;
    background-color: rgb(33, 43, 33);
    position: relative;
    height: 40px;
    width: 100%;
    display: block;
    float: left; 
    text-align: center;   
}

.btnright {
    color: green;
    background-color: rgb(33, 43, 33);
    border-radius: 10px;
    height: 20px;
    width: auto;
    
    float: left;   
}

.btnwrong {
    color: red;
    background-color: rgb(33, 43, 33);
    border-radius: 10px;
    height: 20px;
    width: auto;
  
    float: right;
}

.verticalbutton {
    margin: 0 auto;
    display: block;
}

.questions {
    color: chartreuse;
    height: 400px;
    width: 100%;
    margin-top: 0;
    margin-bottom: auto;
    font-weight: bold;
    font-size: x-large;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
    width: 50%;
}

#overlay {
    position: fixed;
    width: 850px;
    height: 400px;
    background-color: rgb(33, 43, 33);
    z-index: 2;
    justify-items: center; 
  } 

#inputteam {
    width: 100px;
    background-color: rgb(33, 43, 33);
    border: green;
    color: whitesmoke;
    height: 25px;    
}

